.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 63px;
  bottom: 25px;
  right: 25px;
  color: #fff;
  text-align: center;
  font-size: 35px;
  z-index: 100;
  transition: all 300ms ease;
}

